---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import { Image } from "astro:assets"
import profile from "../assets/profile-3.jpg"
import linkedin from "../assets/linkedin.png"
---

<Layout>
  <Header />
  <div class="card">
    <h1>Hello!</h1>
    <div style="flex-wrap: wrap;">
      <div
        style="display: flex; flex-direction: column; justify-content: center; align-items: center; flex: 1 1 50%;"
      >
        <div class="parent-div">
          <Image
            src={profile}
            alt="profile"
            style="width: 100%; max-width: 300px;"
          />
        </div>

        <p style="font-size: larger;">
          Gateway Audiology was founded by Shelley Willis in 2019 and utilizes a
          personalized approach to provide hearing healthcare to school children
          in the greater Milwaukee area.
        </p>
        <div
          class="parent-div"
          style="width: 100%; margin-top: 5rem; display: flex; justify-content: center;"
        >
          <a
            href="https://www.linkedin.com/in/shelley-willis-aa59b272/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image
              src={linkedin}
              alt="linkedin"
              style="width: 100%; max-width: 100px;"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <h1>My Story</h1>
    <p style="font-size:larger; margin-top:2rem;">
      I have been working exclusively with children for over 20 years in both
      clinical and educational settings. I launched Gateway Audiology LLC in
      2019 to provide comprehensive audiology services to students in various
      public school districts and several private schools. In my free time, I
      love all things outdoors...hiking, biking, paddle boarding, and golfing. I
      am also a musician; singing and playing piano. I also love to travel. I
      have been married for 27 years and have three fabulous adult children. I
      have an Au.D. and MS in Audiology and BS in Communication Disorders
    </p>
  </div>
  <div
    class="card"
    style="text-align: center; padding-top: 1rem; padding-bottom: 1rem;"
  >
    <h1>Contact</h1>
    <div style="margin-top:2rem;">
      <p>I would love to hear from you!</p>
      <a href="mailto:gatewayaudiology@gmail.com">gatewayaudiology@gmail.com</a>
      <p>262-674-4067</p>
    </div>
  </div>
  <style>
    html,
    body {
      background-color: #bde9e2;
      padding-top: 5rem;
    }

    .card {
      margin: 0 auto;
      max-width: 80%;
      padding: 5rem;
      background-color: white;
      border-radius: 10px;
      margin-bottom: 2rem;
    }

    .parent-div {
      height: auto;
      overflow: hidden;
    }

    .parent-div img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 600px) {
      .card div {
        flex: 1 1 100%;
      }
    }
  </style>
</Layout>
