---
import { Image } from "astro:assets"
import profile from "../assets/profile-2.jpg"
---

<div id="container">
  <div id="welcome">
    <div>
      <h1 class="welcome-title">WELCOME TO GATEWAY AUDIOLOGY</h1>
      <h2 class="welcome-title-sm">
        Facilitating Access to Listening and Learning
      </h2>
    </div>

    <div class="parent-div">
      <Image
        src={profile}
        alt="profile"
        style="max-width: 100%; height: auto;"
        class="profile"
      />
    </div>
  </div>
</div>

<style>
  #container {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #2a7b6f;
    transition: color 0.3s;
  }

  a:hover {
    color: white;
    background-color: #2a7b6f;
  }

  .welcome-title {
    font-size: 5vw;
  }

  .welcome-title-sm {
    font-size: 4vw;
  }

  .parent-div {
    width: 100%;
    max-width: 600px;
    height: auto;
  }

  @media (max-width: 600px) {
    .profile {
      width: 100%;
      height: auto;
    }

    #welcome {
      flex-direction: column;
    }
  }

  @media (min-width: 600px) {
    .profile {
      width: 500px;
      height: auto;
    }
  }

  .parent-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
