---
import { Image } from "astro:assets"
import profile from "../assets/profile.png"
---

<div id="container">
  <div id="welcome">
    <div>
      <h1 style={{ fontSize: "5rem" }}>WELCOME TO GATEWAY AUDIOLOGY</h1>
      <h2>Facilitating Access to Listening and Learning</h2>
    </div>

    <Image src={profile} alt="profile" height={600} />
  </div>
</div>

<style>
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 5rem;
  }
  a {
    text-decoration: none;
    color: #2a7b6f;
    transition: color 0.3s;
  }

  a:hover {
    color: white;
    background-color: #2a7b6f;
  }
</style>
